/* ./styles/variables.css */

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  /* Brand colors */
  --body-bg: #fafafa;
  --body-text: #242a2f;
  --component-bg: #fff;
  --component-text-color: #242a2f;
  --main-navigation-color: #f09f73;

  --brand-primary: #f09f73;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #e37c44;
  --brand-secondary--inverted: #e37c44;

  /* Typography */
  --font-family-sans-serif: "Space Mono";
  --font-size-base: 15px;
  --text-color: var(--component-text-color);

  --header-height: 3.3rem;

  --default-button-color: var(--brand-primary);

  --default-button-color: var(--brand-primary);
  --default-button-color--inverted: var(--brand-secondary);
  --default-button-color--hover: white;
  --default-button-color--active: white;
}
